.game_home-a {
	width: 10%;
	top: 10%;
	left: 6%;
}

.game_home-img {
	z-index: 2;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 30%;
	filter: brightness(0) invert(1);
}

.game-div {
	position: absolute;
	z-index: 1;
}

.score-p {
	position: absolute;
	top: 10%;
	left: 50%;

	font-size: 350%;
	transform: translate(-50%, -50%);
}

.player_left-div {
	position: absolute;
	top: 51%;
	left: 9%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 260%;
}

.player_right-div {
	position: absolute;
	top: 51%;
	left: 91%;
	transform: translate(-50%, -50%);
	
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 260%;
}

.player-img {
	width: 10vw;
	object-fit: cover;
	border-radius: 30%;

	aspect-ratio: 1 / 1;
	margin-bottom: 3%;
}

.match-div {
	position: absolute;
	display: none;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;

	height: 55%;
	width: 50%;
	
	border: none;
	border-radius: 5%;
	background-color: rgba(76, 76, 76, 0.5);
}

.match-p {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	font-size: 250%;
}

.result-div {
	position: absolute;
	display: none;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;

	height: 55%;
	width: 50%;
	
	border: none;
	border-radius: 5%;
	background-color: rgba(76, 76, 76, 0.5);
}

.result-p{
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	font-size: 250%;
}

.win_or_lose-p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	font-size: 400%;
	white-space: nowrap;
}

.restart-btn {
	top: 85%;
	
	white-space: nowrap;
}

.restart-btn:hover {
	color: black;
}