{% load static %}
<div id="matchmaking-container">
	<h1>Pong Tournament Matchmaking</h1>
    <select id="tournamentSize">
		<option value="2">2 players</option>
        <option value="4">4 players</option>
        <option value="8">8 players</option>
    </select>
    <button id="findMatch">Find Match</button>
    <div id="status"></div>
</div>

<div id="game-container" style="display: none;">	
	<!-- Game will be rendered here -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

<script type="module" src="{% static 'pong/js/matchmaking.js' %}"></script>
<script type="module" src="{% static 'pong/js/render.js' %}"></script>