.countdown_tourn-p {
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	color: white;
	font-size: 350%;
}

.player_list-div {
	position: absolute;
	display: block;

	top: 29%;
	left: 95%;
	transform: translate(-50%, -50%);
	width: 10%;
	height: 50%;

	background-color: none;

	font-size: 140%;
	white-space: nowrap;
}

.players_name-p {
	margin-bottom: 1%;
}

.next_player_left-p {
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	
	font-size: 300%;
}

.next_player_vs-p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	font-size: 300%;
}

.next_player_right-p {
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	
	font-size: 300%;
}
