.num-text{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	border: none;
	background-color: rgba(0, 0, 0, 0);

	font-size: 300%;
}

.num-input {
	width: 30%;
}

.start-a {
	position: absolute;
	top: 88%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	border: none;
	background-color: none;

	font-size: 250%;
}