.tournament-a {
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tournament-a:hover {
	color: black;
}

.ai-btn{
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ai-btn:hover {
	color: black;
}
